body{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin: 35vh 0;
    color: darkslategray;
    font-size: 1.25rem;
    background-color: #E3F8F9
}
h1{
    font-weight: bold;
}
p{
    margin: 15px auto;
    max-width: 75%;
}
#input{
    margin-top: 15px;
}
#result{
    font-weight: bolder;
    overflow-wrap: break-word;
}
#submit{
    cursor: pointer;
    background-color:#E1C6E7;
}
#submit:hover{
    background-color: #C85DE0;
}